[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
isort = "*"
codecov = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
rope = "*"

[packages]
handsdown = {path = ".",editable = true}

[pipenv]
allow_prereleases = true
