[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "==0.14.0"
pylint = "==2.4.2"
mypy = "==0.730"
black = "==19.3b0"
pytest = "==5.2.1"
pytest-cov = "==2.8.1"

[packages]
handsdown = {path = ".", editable = true}

[requires]
python_version = "3.7"
