## {{ class.name }}

[Show source in {{ md_document.source_file_name }}:{{ class.line_number }}]({{ md_document.source_code_url }}#L{{ class.line_number }})

{% for attrubute in class.get_documented_attribute_strings() -%}
{% if loop.first -%}{{ "#### Attributes\n" -}}{% endif -%}
{{ "\n- " }}{{ attrubute }}
{% if loop.last -%}{{ "\n\n" -}}{% endif -%}
{% endfor -%}

{% with docstring=class.docstring -%}
{% include "common/docstring.md.jinja2" -%}
{% endwith -%}

#### Signature

```python
{% filter blackify %}{% include "common/class_signature.py.jinja2" %}{% endfilter %}
```{{ "\n\n" -}}

{% for link in generator.get_see_also_links(class, module_record, md_document) -%}
{% if loop.first -%}{{ "#### See also\n\n" -}}{% endif -%}
- {{ link -}}{{ "\n" -}}
{% if loop.last -%}{{ "\n" -}}{% endif -%}
{% endfor -%}

{% for record in class.get_public_methods() -%}
    {% with method=record -%}
        {% include "common/method.md.jinja2" -%}
    {% endwith -%}
{% endfor -%}
