{%- for section in  docstring_processor.build_sections(docstring) -%}
    {% if section.title -%}#### {{ section.title }}{{ '\n\n' -}}{% endif -%}

    {%- for block in section.iterate_blocks() -%}
        {{- generator.replace_links(module_record, record, md_document, block.render()) -}}
        {{- '\n\n' -}}
    {%- endfor -%}
{%- endfor -%}