{% for decorator in function.decorators -%}
{{ '@' -}}
{{ decorator.render_str() -}}
{{ '\n' -}}
{% endfor -%}
{% if function.is_async -%}{{ 'async ' -}}{% endif -%}{{ 'def ' -}}{{ function.name -}}{{ '(' -}}
{{ '\n' -}}
{% filter indent(4, True) -%}
    {% for argument in function.arguments -%}
        {% include "common/argument.py.jinja2" with context -%}
        {{ ",\n" if not loop.last else "\n" -}}
    {% endfor -%}
{% endfilter -%}
{{ ') -> ' -}}

{{ function.return_type_hint.render_str() -}}

{{ ':\n' -}}
{{ '    ...' -}}
