## {{ function.title }}

[find in source code]({{ function._get_source_code_url(module_record, md_document) }}#L{{ function.line_number}})

```python
{% include "common/function_signature.py.jinja2" with context %}
```