name: Code style & unit tests

on:
  push: {}
  workflow_dispatch: {}

jobs:
  unit-tests:
    name: Code style & unit tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
        include:
          - version: "3.12"
            check-formatting: "true"
    steps:
      - uses: actions/checkout@v4
      - name: Install poetry
        run: pipx install poetry
      - name: Set up Python
        id: python
        uses: actions/setup-python@v5
        with:
          python-version: "${{ matrix.version }}"
          cache: "poetry"
      - name: Install dependencies
        run: |
          poetry install -n
          poetry run pip install flake8 pytest
      - name: Install Node.js dependencies
        run: |
          npm install -g pyright
      - name: Code style
        if: ${{ matrix.check-formatting }}
        run: |
          poetry run black --check handsdown --preview
          poetry run isort -c handsdown
      - name: Lint
        run: |
          poetry run flake8 handsdown
      - run: echo "$(poetry env info --path)/bin" >> $GITHUB_PATH
      - name: Typing
        uses: jakebailey/pyright-action@v1
      - name: Test
        run: |
          poetry run pytest
